.cba{
    display: flex;
   margin: auto;
    width: 300px; background-color: rgb(182, 182, 182);
    border-radius: 25px;
    padding: 20px;
    z-index: 99;

}

.btna:hover{
    background-color: gray;
    border-radius: 12px;
}

.ania{
    transition: 300ms;
    position: absolute;
    top: 70%;
    z-index: -99;
    left: -340px;  border-radius: 25px;
    padding-right: 50px;
    background-color: rgb(85, 85, 85);
}

.ffonta{
    cursor:pointer;
    position: absolute;
    transform: rotate(90deg);
    margin-left: 310px;
    color: white;
    letter-spacing: 3px;
    font-size: 25px;
    margin-top: 100px;
}

.sa2{
 width: 100%;  

   
}

.out{
    margin-left: 40px;
    width: 110%;
    visibility: hidden;
}

.btna{
    position: absolute;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 2px;
    padding-top: 2px;
    margin-left: 5px;
 
    transition: 300ms;
width: 20px;
}
.input1a{
    margin-left: 10px;
width: 250px;
padding-left: 5px;
border-radius: 25px;
height: 20px;
border: none;
outline: none;
}

.ta1{
   transition: 300ms;
    margin-bottom: 20px;
    padding-left: 5px;
    background-color: lightgray;
    position: relative;
    left: 10px;
    width: 60%;
    border: none;
outline: none;
    height: fit-content;
    min-height: 20px;
    border-radius: 25px;
}
.ta2{ transition: 300ms;
    margin-bottom: 20px;
    background-color: lightgray;
    padding-left: 5px;
    position: relative;
    right: 10px;
    width: 60%;
    border: none;
outline: none;
    height: fit-content;
    min-height: 20px;
    border-radius: 25px;
}
.ta3{ transition: 300ms;
    margin-bottom: 20px;
    position: relative;
    padding-left: 5px;
    left: 10px;
    width: 60%;
    border: none;
outline: none;
    height: fit-content;
    min-height: 20px;
    border-radius: 25px;
}
.ta4{ transition: 300ms;
    
    margin-bottom: 20px;
    position: relative;
    right: 10px;
    padding-left: 5px;
    width: 60%;
    border: none;
outline: none;
height: fit-content;
    min-height: 20px;
    border-radius: 25px;
}